.root {
  @apply relative bg-gray-900 text-gray-50 text-center text-sm cursor-pointer inline-flex leading-none transition ease-in-out duration-150 shadow-sm justify-center border border-transparent items-center font-semibold tracking-normal rounded-md;
  max-height: 64px;

  &.brandColors {
    @apply border-primary bg-primary text-black;
  }
}

.xs {
  @apply text-xs px-2 py-1;
}

.sm {
  @apply px-2 py-1;
}

.normal {
  @apply px-2.5 py-1.5;
}

.lg {
  @apply px-3 py-2;
}

.xl {
  @apply px-3.5 py-2.5;
}

.root:hover {
  @apply border-gray-900 bg-gray-700;

  &.brandColors {
    @apply bg-primary border-primary;
  }
}

.root:focus {
  @apply shadow-outline-normal outline-none;
}

.root[data-active] {
  @apply bg-gray-600;
}

.loading {
  @apply bg-gray-100 text-gray-300 border-gray-200 cursor-not-allowed;
}

.ghost {
  @apply border border-gray-200 bg-transparent text-secondary;

  &.brandColors {
    @apply border-primary bg-transparent border-2 font-medium;
  }
}

.ghost:hover {
  @apply border-gray-900 bg-transparent text-gray-900;

  &.brandColors {
    @apply border-primary bg-transparent text-primary;
  }
}

.naked {
  @apply text-gray-800 bg-transparent font-semibold border-none shadow-none outline-none py-0 px-0;
}

.naked:hover,
.naked:focus {
  @apply bg-transparent border-none;
}

.disabled,
.disabled:hover {
  @apply text-gray-400 border-gray-200 bg-gray-100 cursor-not-allowed;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

.progress {}

.shadow1 {
  @apply rounded-md shadow;
}