node_modules
apps/marketing/node_modules
apps/admin/node_modules
apps/server/node_modules
apps/email-template-composer/node_modules
packages/hooks/node_modules
packages/config/node_modules
packages/icons/node_modules
env
