.root {
  @apply bg-gray-900 text-gray-100 cursor-pointer inline-flex
  px-10 py-3 leading-6 transition ease-in-out duration-150
  shadow-sm text-center justify-center 
  border border-transparent items-center font-medium
  tracking-tight rounded-lg;
  max-height: 64px;

  &.brandColors {
    @apply border-primary bg-primary text-gray-900;
  }
}

.root:hover {
  @apply border-gray-900 bg-gray-600;

  &.brandColors {
    @apply bg-primaryAlt-300 border-primaryAlt-300;
  }
}

.root:focus {
  @apply shadow-outline-normal outline-none;
}

.root[data-active] {
  @apply bg-gray-600;
}

.loading {
  @apply bg-gray-100 text-gray-300 border-gray-200 cursor-not-allowed;
}

.slim {
  @apply py-2 transform-none normal-case;
}

.ghost {
  @apply border border-gray-200 bg-gray-100 text-secondary;

  &.brandColors {
    @apply border-primaryAlt-300 bg-transparent border-2 font-medium;
    color: var(--primary);
  }
}

.ghost:hover {
  @apply border-gray-900 bg-paper text-gray-900;

  &.brandColors {
    @apply border-primaryAlt-300 bg-transparent text-primary;
  }
}

.naked {
  @apply bg-transparent font-semibold border-none shadow-none outline-none py-0 px-0;
}

.naked:hover,
.naked:focus {
  @apply bg-transparent border-none;
}

.disabled,
.disabled:hover {
  @apply text-gray-400 border-gray-200 bg-gray-100 cursor-not-allowed;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

.progress {
}

.shadow1 {
  @apply rounded-md shadow inline-block;
}
