.nav {
  @apply relative flex flex-1 flex-row justify-between items-center py-3;
}

.logo {
  @apply cursor-pointer transform duration-200 ease-in-out w-auto;
  height: 55px;
  width: auto;
}

.shrink {
  @apply py-2;

  & .logo {
    height: 40px;
  }
}