.bg {
  @apply z-10;
}

.bg>div {
  @apply absolute -z-10 overflow-hidden inset-0 flex items-center justify-center;
}

.bg>div>img {
  @apply shrink-0 aspect-square max-w-none;
}

.bg>div:nth-child(1)>img {
  @apply h-[100vh];
  animation: rotate-reverse 120s linear infinite;
}

.bg>div:nth-child(2)>img {
  @apply h-[120vh];
}

.bg>div:nth-child(3)>img {
  @apply h-[140vh];
  animation: rotate 100s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-reverse {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}