.bg {}

.bg>div {
  @apply absolute inset-0 bg-cover bg-no-repeat bg-center aspect-square;
}

.bg>div:nth-child(1) {
  @apply h-[100vh];
  background-image: url('/shapes/home-elipses-lg.svg');
}

.bg>div:nth-child(2) {
  @apply h-[110vh];
  background-image: url('/shapes/home-elipses-md.svg');
}

.bg>div:nth-child(3) {
  @apply h-[120vh];
  background-image: url('/shapes/home-elipses-sm.svg');
}