.toc {
  @apply font-heading;
  /* -- Nested List  -- */
  /* Set the first layer of list items to regular numeric decimals */
  & > ol {
    @apply font-semibold text-gray-800;
    list-style-type: decimal;
  }

  /* Set the second layer of list items to lowercase alphabetic */
  & ol > ol {
    @apply font-medium text-gray-600;
    list-style-type: lower-alpha;
  }

  /* Set the third layer of list items to lowercase Roman numerals */
  & ol > ol > ol {
    @apply font-normal text-gray-500;
    list-style-type: lower-roman;
  }
}
