:root {
  --font-sans: Saira, -apple-system, system-ui, BlinkMacSystemFont,
    'Helvetica Neue', 'Helvetica', sans-serif;

  --topbar-height: 56px;
}

::selection {
  @apply bg-primary
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  @apply scroll-pt-40 scroll-smooth;
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html,
body {
  @apply text-black bg-paper;
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-x: none;
}

body {
  position: relative;
  margin: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

address {
  font-style: normal;
}